@using HrProjectNbg_2024.Models;

@{
}
@model IEnumerable<Employee>


    <h1>Index</h1>

   
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HiringDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HiringDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
